.main {
	pass;
}

.title {
	pass;
}

.img-div {
	pass;
}


img {
	max-width: 100%;
	height: auto;
	display: block;
}

.image {
	max-width: 95%;
	align-content: center;
}

.image-caption {
	pass;
}

.tribute-info {
	pass;
}

.tribute-link {
	pass;
}